@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
}
.b1{
    display: block;
    background-color: #7e6052;
    background-position: center;
    background-position: cover;
    border-radius: 25px;
    height: 100vh;
    width: 100%;
}
nav{
    display: inline-block;
    background-color: #289b28;
    border-radius: 25px;
    height: 100px;
    width: 98%;
    box-sizing: border-box;
    margin:10px 10px;
    align-items: center;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #289b28;
    border-radius: 30px;
}
.logo{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    margin-left: 50px;
}
.logo_name{
    display: inline-block;
    font-weight: bolder;
    color: rgb(66, 12, 12);
    margin-left:100px;
    font-style: 'Young Serif',serif;
    font-size: 45px;
    vertical-align: middle;
}
audio,input{
    margin-top: 100px;
    display: block;
}
.queue{
    display: inline-block;
    padding: 40px;
}
.player{
    width: 100%;
    border: 3px solid white;
    margin-bottom: 15px;
    bottom: 15px;
    height: 80px;
    vertical-align: baseline;
}
#playButton,#play{
    display: block;
    border:0px solid transparent;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
