@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: 0;
}
.b1{
    display: block;
    background-color: #7e6052;
    background-position: center;
    background-position: cover;
    border-radius: 25px;
    height: 100vh;
    width: 100%;
}
nav{
    display: inline-block;
    background-color: #289b28;
    border-radius: 25px;
    height: 100px;
    width: 98%;
    box-sizing: border-box;
    margin:10px 10px;
    align-items: center;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #289b28;
    border-radius: 30px;
}
.logo{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    margin-left: 50px;
}
.logo_name{
    display: inline-block;
    font-weight: bolder;
    color: rgb(66, 12, 12);
    margin-left:100px;
    font-style: 'Young Serif',serif;
    font-size: 45px;
    vertical-align: middle;
}
.container{
    min-height: 55vh;
    display: block;
    margin: 23px auto;
    margin-top: 74px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: black;    
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    flex-direction: row;
}
.bottom{
    position: sticky; 
    background-color: purple;
    height: 130px;
    border-radius: 25px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
audio,input{
    margin-top: 100px;
    display: block;
}
.queue{
    display: inline-block;
    padding: 40px;
}
#progress{
    text-align: center;
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}
